body {
    margin: 0 0;
    background-color: #f0f0f0;
    line-height:0%;
    overflow: hidden;
}
div.c-container {
    background-color: #f0f0f0;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}
div.c-container-in {
    height: 100%;
    position: relative;
    left: 50%;
}
div.c-content {
    position: relative;
    left: -50%;
    top: 0;
    display: inline-block;
    line-height:0;
}
video#c-flv-player {
    /* height: 50rem; */
    max-height: 100%;
    max-width: 100%;
}
#c-video {
    position: relative;
    top: 0;
    display: inline-block;
    padding: 0 0;
    line-height:0;

    width: 100%;
}
#c-danmu {
    position: absolute;
    bottom : 30px;
    line-height: 1.15rem;

    width: 100%;
    height: 30%;
    font-size: 14px;
    overflow: auto;
    opacity: 0.6;
    text-align: left;
}
#c-send {
    background-color:white;
    position: absolute;
    bottom : 0;
    
    width: 100%;
    height: 30px;
}
.c-danmu-text {
    background-color:white;
}
.c-gift {
    max-width: 0.9rem;
    max-height: 0.9rem;
}
.c-send-name {
    float: left;
    width: 20%;
    height: 100%;
}
.c-send-text {
    float: left;
    width: 60%;
    height: 100%;
}
.c-send-submit {
    float: left;
    width: 20%;
    height: 100%;
}
.c-danmu-top {
    color: #ff9100
}
input {
    height: 80%;
    max-width: 90%;
    margin: 0 auto;
    vertical-align:middle;
    border: 1px solid #ccc;
    border-radius:9px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    outline: none;
    font-size: 12px;

}
input#c-name {
    text-indent: 10px;
}
input#c-text {
    text-indent: 10px;
    width: 100%;
}
input#c-submit {
    height: 90%;
}